<section class="parentSection">
    <mat-card class="container">
        <div  class="container topParentDiv">
            <div class="row d-flex align-items-center justify-content-center h-100">
              <div class="col-md-8 col-lg-7 col-xl-6">
                <img style="height:500px;" src="https://img.freepik.com/free-vector/exams-concept-illustration_114360-2754.jpg?w=740&t=st=1677870921~exp=1677871521~hmac=e0e12569e249c839b2f14c96fa8817ed922333411f291bfdb436261e9c09596b"
                  class="img-fluid" alt="Phone image">
              </div>
              
              <div class="col-md-7 col-lg-5 col-xl-5">
              <div class="container">   
                <mat-card style="background-color:var(--background);">
                  <form class="form" (ngSubmit)="formSubmit()">
                     
                        <!-- Email input -->
                        <div class="form-outline mb-1">
                            <label class="form-label" for="form1Example13">User Name</label>
                          <input type="text" id="form1Example13" class="form-control form-control-md" [(ngModel)]="user.userName"
                          name="userName"
                          required
                          matInput
                          placeholder="Enter here" />
                        </div>
              
                        <!-- Password input -->
                        <div class="form-outline mb-1">
                            <label class="form-label" for="form1Example23">Password</label>
                          <input type="password" id="form1Example23" class="form-control form-control-md"[(ngModel)]="user.password"
                          name="password"
                          type="password"
                          required
                          matInput
                          placeholder="Enter here" />
                        </div>

                        <div class="parentDiv">
                            <div class="childDiv form-outline mb-1">
                                <label class="form-label" for="form1Example13">First Name</label>
                              <input type="text" id="form1Example13" class="form-control form-control-md" [(ngModel)]="user.firstName"
                              name="firstName"
                              required
                              matInput
                              placeholder="First Name" />
                            </div>
                            <div class="childDiv form-outline mb-1">
                                <label class="form-label" for="form1Example13">Last Name</label>
                              <input type="text" id="form1Example13" class="form-control form-control-md" [(ngModel)]="user.lastName"
                              name="lastName"
                              required
                              matInput
                              placeholder="Last Name" />
                            </div>
                        </div>

                        <div class="parentDiv">
                            <div class="childDiv child-1 form-outline mb-1">
                                <label class="form-label" for="form1Example13">Email Id</label>
                              <input type="email" id="form1Example13" class="form-control form-control-md" [(ngModel)]="user.email"
                              name="email"
                              required
                              matInput
                              placeholder="Email Id" />
                            </div>
                            <div class="childDiv child-2 form-outline mb-3">
                                <label class="form-label" for="form1Example13">Mobile</label>
                              <input type="text" id="form1Example13" class="form-control form-control-md" [(ngModel)]="user.phone"
                              name="phone"
                              required
                              matInput
                              placeholder="Mobile"/>
                            </div>
                        </div>
              
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">SignUp</button>
              
                        <div class="divider d-flex align-items-center my-2">
                          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        </div>
                        <button class="btn btn-primary FacebookBtn">Continue with Facebook</button>
                          <button class="btn btn-primary TwitterBtn">Continue with Twitter</button>
                      </form>
                </mat-card>
              </div>
              </div>
            </div>
          </div>
    </mat-card>
      </section>