<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
                <img src="../../../assets/images/hat.png" style="height:20%;width: 20%;" alt="image">
            </div>

            <h1 class="text-center">Login Here</h1>

            <form (ngSubmit)="formSubmit()">
                <!-- Username field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>UserName</mat-label>
                    <input
                     [(ngModel)]="loginData.username"
                     name="username"
                    matInput placeholder="Enter Your Name">
                    <mat-hint>Enter hint</mat-hint>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                  [(ngModel)]="loginData.password"
                    name="password"
                    matInput placeholder="Enter Password">
                    <mat-hint>Enter hint</mat-hint>
                </mat-form-field>

                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>