<div class="container poster mt20">
  <mat-card>
    <mat-card-content>
      <div class="flex-parent-element">
        <div class="flex-img-div">
          <img class="card-img-top img-fluid" style="height:100%;width:100%;" src={{girl}} alt="Card image cap">
        </div>
        <div class="flex-text-div">
          <p>
            Welcome to EzyLearn. Prepare with confidance.
          </p>
          <h4>Excel every exam with our high yield <b>MCQ's</b></h4>
          <form class="form-inline">
            <div>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search Course">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container" style="margin-top: 120px;">
  <p class="boldPara">What We Offers</p>
  <p class="subHeader">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, illum.</p>
  <div class="container offers">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-1">
          <h3>Live Tests</h3>
          <p>Register for the Exam you want to appear. you an register in single click for the exam of your choice from
            dashboard.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-2">
          <h3>High Yield Questions</h3>
          <p>Take live test on time you can take the missed test from dashboard. Live exams link appears only when the
            exam is live.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-3">
          <h3>Insightful Analytics</h3>
          <p>Dashboard is true sence that help you analyze you performsnce.Everything you do at one place. Your real
            preparations.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" style="margin-top:100px;">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card comment-card">
        <img
          src="https://images.unsplash.com/photo-1565038941323-e5ceac0fcde2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
          alt="Profile picture" class="card-image">
        <div class="card-content">
          <h2 class="card-title">John Doe</h2>
          <p class="card-subtitle">Web Developer</p>
        </div>
        <div class="card-body">
          <hr>
          <div class="ratingBar"><ngb-rating [max]="5"></ngb-rating></div>
          <hr>
          <h3 class="center-text">This was an amazing course!</h3>
          <p class="center-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo temporibus, delectus repudiandae cumque
            dolorum quia, quibusdam ipsam aspernatur repellat ex porro provident distinctio adipisci minima impedit
            consectetur eaque nihil veniam.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container" style="margin-top: 150px;">
<p class="boldPara">What Our Student Says </p>
<p class="subHeader">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, porro!</p>
</div>

<div class="container offers">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div>
        <!-- comment-1 -->
        <div class="card comment-card">
          <img
            src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
            alt="Profile picture" class="card-image">
          <div class="card-content">
            <h2 class="card-title"> Sophia Evelyn </h2>
            <p class="card-subtitle">Student</p>
          </div>
          <div class="card-body">
            <hr>
            <div class="ratingBar"><ngb-rating [max]="5"></ngb-rating></div>
            <hr>
            <h3 class="center-text">This was an amazing course!</h3>
            <p class="center-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo temporibus, delectus
              repudiandae cumque
              dolorum quia, quibusdam ipsam aspernatur repellat ex porro provident distinctio adipisci minima impedit
              consectetur eaque nihil veniam.</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

 <!-- comment-1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div>
        <div class="card comment-card">
          <img
            src="https://images.unsplash.com/photo-1621921453423-87158be3514c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGZhY2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Profile picture" class="card-image">
          <div class="card-content">
            <h2 class="card-title">John Doe</h2>
            <p class="card-subtitle">Student</p>
          </div>
          <div class="card-body">
            <hr>
            <div class="ratingBar"><ngb-rating [max]="5"></ngb-rating></div>
            <hr>
            <h3 class="center-text">Easy to learn and study!</h3>
            <p class="center-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo temporibus, delectus
              repudiandae cumque
              dolorum quia, quibusdam ipsam aspernatur repellat ex porro provident distinctio adipisci minima impedit
              consectetur eaque nihil veniam.</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
 <!-- comment-1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div>
        <div class="card comment-card">
          <img
            src="https://images.unsplash.com/photo-1555320818-21ebf0faf145?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA4fHxmYWNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="Profile picture" class="card-image">
          <div class="card-content">
            <h2 class="card-title">Scarlett  Sophia</h2>
            <p class="card-subtitle">Student</p>
          </div>
          <div class="card-body">
            <hr>
            <div class="ratingBar"><ngb-rating [max]="5"></ngb-rating></div>
            <hr>
            <h3 class="center-text">Excellent course for beginners!</h3>
            <p class="center-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo temporibus, delectus
              repudiandae cumque
              dolorum quia, quibusdam ipsam aspernatur repellat ex porro provident distinctio adipisci minima impedit
              consectetur eaque nihil veniam.</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<section class=" container cta">
  <p class="boldParaWhite">Enroll For  Our Various Online Courses<br>Anywhere From The World</p>
  <button  type="submit" class="btn btn-primary">Contact Us</button>
</section>


<section class="footer">
  <h4>About Us</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus nemo<br> earum recusandae ratione, eveniet aperiam. Non voluptatum nulla cupiditate?</p>

  <div class="icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-linkedin"></i>
  </div>
  
</section>